<%  var pizzaSize;
    if (size === "small_size") pizzaSize = "Мала";
    else pizzaSize = "Велика";
    %>

<div class="pizza-in-cart">
    <div class="title"><%= pizza.title %> (<%= pizzaSize %>)</div>
    <div class="pizza-stats">

    </div>
    <div>
        <div class="price"><%= pizza[size].price %> грн.</div>
        <button class="btn btn-danger minus">-</button>
        <span class="label label-default quantity"><%= quantity %> шт.</span>
        <button class="btn btn-success plus">+</button>
        <button class="btn btn-default delete">x</button>
    </div>
    <img class="pizza-icon" src="<%= pizza.icon %>">
</div>